* {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;

}

#AppBarIntro{
    background-color: rgb(80, 200, 200);
    max-height: 65px;
    font-weight: 600;
}

#AppBarlogo{
    max-width: 65px;
    margin-left: 5px;
}

#AppBarButton{
    font-weight: 600;
    
}
